#main-text {
	top: 56px;
	background-color: transparent;
}

#map {
	width: 100%;
	height: 400px;
	background-color: grey;
}

.hover-image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.hover-text {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.hover-container:hover .hover-image {
	opacity: 0.3;
}

.hover-container:hover .hover-text {
	opacity: 1;
}

.footer {
    background-color: $footer-background-color;
    color: $footer-text-color;
    text-align: center;

    .about-us {
    	font-size: 12px;
    }

    .list-group-item {
        background-color: $footer-background-color;
        border: 0;
        font-size: 12px;
        padding: 0;
        text-align: left;

        p {
            margin: 0;
        }
    }

    .footer-sign {
    	font-size: 13px;
    }
}

#contact {
	.footer {
	    position: fixed;
	    bottom: 0px;
	    right: 0px;
	    left: 0px;
    }
}

.nav {
	.nav-item.active a {
		color: $primary;
	}
}

#home, #services {
	.nav {
		.nav-item.active a {
			color: $primary;
		}
		.nav-item a {
			color: $white;
		}
	}
}

#contact {
	.nav {
		.nav-item.active a {
			color: $primary;
		}
		.nav-item a {
			color: $black;
		}
	}
}
